footer{
margin-bottom: 0px;
background-color:#F0F0E9;
width:101%;
margin-left:-0.5%;
overflow:hidden;
}
#footer1{
background-color:rgba(1,0,0,0.0);
width:100%;
margin-top:0%;
margin-left:00%;
}
#footer1 img{
padding-top:15px;
width: 20%;
margin-left:5%;
-webkit-transition:all 1s ease;
-moz-transition:all 1s ease;
}
#footer1 img:hover{
-webkit-transform:scale(1.06);
-moz-transform:scale(1.06);
}
#log1{
margin-left:5%;
}
#textfooter{
vertical-align:60px ;
margin-left:5%;
color:rgba(1,0,0,0.6);
font-family: 'Roboto', sans-serif;
}

#liste1{
color:rgba(1,0,0,0.6);
font-family: 'Roboto', sans-serif;
}
#liste2{
color:rgba(1,0,0,0.6);
font-family: 'Roboto', sans-serif;
}
#liste3{
color:rgba(1,0,0,0.6);
font-family: 'Roboto', sans-serif;
}
#liste4{
color:rgba(1,0,0,0.6);
font-family: 'Roboto', sans-serif;
}
.alignement{
float:left;
margin-left:9%;}
#footer2{

}
ul{

padding:3%;}
li{
padding-bottom:12%;
list-style:none;}
.foot{
color:#0033FF;
}
#text{
  vertical-align: middle;
  
}
.foot1{color:rgba(1,0,0,0.8);}
.textfoot{
-webkit-transition:all 1s ease;
-moz-transition:all 1s ease;
}
.textfoot:hover{
color:#0033FF;
-webkit-transform:scale(1.01);
-moz-transform:scale(1.01);
}
footer a{
text-decoration:none;
color:rgba(1,0,0,0.6);

}
footer a:hover{
color:#0033FF;
text-decoration:none;
}
.email{
width:80%;
 height:27px;
border-top:1px solid #0033FF;
border-bottom:1px solid #0033FF;
border-left:1px solid #0033FF;
border-right:1px solid #0033FF;
font-size:80%;
font-family: Yu Gothic Light;
padding-left:2%;
}
.button{
width:15%;
height: 27px;
font-family:'Roboto', sans-serif;
background-color:#0033FF;
border-top:0px;
border-bottom:0px;
border-left:0px;
border-right:0px;
color:white;
}
