.uk-grid-main
{
	margin-top: -13px;
	background-image: url('../img/centre.png');
	backgroun-attachment: fixed;
	height: 480px;
}
.uk-grid-main p
{
	color: white;
	font-size:3.5em;
	padding-top: 15%;
	padding-left: 15%;
	padding-right: 15%;
	position: center;
}
.grid-nav-child
{
	padding-bottom: 1%;
	position: fixed;
	z-index: 100;
}

.grid-nav img
{
	margin-left: 20px;
}
.grid-nav nav
{
	padding-top: 20px;
	height: 15%;
	background-color: rgba(10, 10, 100, 0);
}

.grid-nav nav li a
{
	color: white;
	font-size: 1.2em;
}

.grid-nav .uk-navbar-lip .uk-navbar-nav
{
	padding-top: 15px;
}
.body-main
{
	background-color: rgba(10, 10, 100, 0);
	padding-left: 1%;
}
.body-main uk-panel
{
	background-color: rgb(5, 5, 73);
	z-index: 1;
}
.uk-grid .uk-width-medium-1-4
{
	width: 33%;
	
}
.container-main
{
	margin-top: 3%;
}